<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Force loading our proxy System.Windows.Forms.dll -->
      <probing privatePath="." />
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" 
                          publicKeyToken="b77a5c561934e089" 
                          culture="neutral" />
        <codeBase version="4.0.0.0" 
                  href="System.Windows.Forms.dll" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" 
                          publicKeyToken="b03f5f7f11d50a3a" 
                          culture="neutral" />
        <codeBase version="4.0.0.0" 
                  href="System.Drawing.dll" />
      </dependentAssembly>
    </assemblyBinding>
    
    <!-- Enable assembly binding failure logging -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="System.Windows.Forms" 
                       fullName="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </assemblyBinding>
  </runtime>
</configuration>
